body {
background-color: darkkhaki;
}
td{
    border:solid green 2px;
    width:35px;
    height:35px;
    text-align: center ;
    font-size: xx-large;
}
table{
    border: solid black 5px;
}
button{
    width:100px;
    height: 60px;
    background-color: yellowgreen;
    border: 2px;
    border-color: blue;
    box-shadow: 6px;
}
#div{
    font-size: xx-large;
}
small{
 text-align: right;
 
 font-size: small;
}